.scene-container {
    --cube-clr: #6acf3e99;
    --ball-clr: #ACEEAC;
    --rotate-spd: 30s;
    --bounce-spd: 1.5s;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: var(--base-value);
    font-size: 50px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2.5em);
    overflow: hidden;
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    animation: rotation var(--rotate-spd) linear infinite;
}

@keyframes rotation {
    to {
        transform: rotateY(360deg);
    }
}


/* BALL */

.ball {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--ball-clr);
    left: -0.5em;
    bottom: 1em;
    background-image: radial-gradient(circle at top, var(--ball-clr), #000);
    animation: bounce var(--bounce-spd) infinite ease-out, rotation var(--rotate-spd) linear infinite reverse;
}

@keyframes bounce {
    0%,
    100% {
        bottom: .5em;
    }
    50% {
        bottom: 3em;
        animation-timing-function: ease-in;
    }
}


/* CUBE */

.cube {
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: -1em;
    left: -1em;
    animation: cube-height var(--bounce-spd) infinite linear;
}

@keyframes cube-height {
    0%,
    100% {
        height: 1.5em;
    }
    8%,
    93.5% {
        height: 2em
    }
}

.left,
.right,
.front,
.back {
    position: absolute;
    background: var(--cube-clr);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 .5em #000a inset;
}

.front {
    transform: translateZ(1em);
}

.right {
    transform: rotateY(90deg) translateZ(1em);
}

.back {
    transform: rotateY(180deg) translateZ(1em);
}

.left {
    transform: rotateY(270deg) translateZ(1em);
}

.top {
    position: absolute;
    background: var(--cube-clr);
    width: 2em;
    height: 2em;
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 .5em #000a inset;
}

.top::after {
    content: '';
    position: inherit;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    animation: shadow var(--bounce-spd) infinite ease-out;
}

@keyframes shadow {
    0%,
    8%,
    93.5%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: .5;
        animation-timing-function: ease-in;
    }
}

.bottom {
    position: absolute;
    background: #0007;
    width: 2em;
    height: 2em;
    bottom: 0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 .5em #000a;
}


/* FLOOR */

.floor {
    position: absolute;
    width: 15em;
    height: 15em;
    background: #000;
    background-image: radial-gradient(#0000, #000 75%), repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 100%, 1em 1em;
    transform: translate(-50%, -50%) rotateX(90deg);
    top: 1em;
}