    /* P A G E */
    
    .bgColor {
        background: linear-gradient(to bottom, #79b0cf 20%, #9b887e 50%, #080038 100%) no-repeat center center fixed;
        -webkit-background: linear-gradient(to bottom, #79b0cf 20%, #9b887e 50%, #080038 100%) no-repeat center center fixed;
        background-size: 100%;
        -webkit-background-size: 100%;
    }
    
    main {
        background: rgba(100, 100, 100, 0.5);
    }
    /*=========================================================================*/
    /* G E N E R A L   T E X T */
    
    h2 {
        color: #fff;
        font-family: monospace;
    }
    
    span {
        color: #00ffff;
        font-weight: bold;
    }
    
    span#color {
        color: #ccce72;
    }
    
    span#shadow {
        color: #ffffff;
        text-shadow: 1px 1px 5px#ff00dd;
    }
    /*=========================================================================*/
    /* L I S T */
    
    ol.assignmentList {
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        list-style-type: upper-roman;
        padding: 10px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) no-repeat;
        border-radius: 15px;
    }
    
    ol.assignmentList li {
        font-weight: 400;
        font-size: 0.75em;
        margin-left: 40px;
        padding-top: 5px;
    }
    
    ol.assignmentList li ol {
        list-style-type: lower-alpha;
    }
    
    ol.assignmentList li ol li {
        font-size: 0.9em;
        margin-left: 0px;
    }
    /*=========================================================================*/
    /* I M A G E S */
    
    img.picture1 {
        margin: 10px;
        border-radius: 15px;
        max-width: 200px;
        transform: rotate3d(1, 1, 1, -10deg);
        box-shadow: 5px 8px #8d8d8d;
    }
    
    img.picture2 {
        margin: 10px;
        border-radius: 15px;
        max-width: 200px;
        border: 15px solid transparent;
        border-image: url(../img/for_assignment/pancake_texture.jpg) 25 round;
    }