.social {
    width: 85px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.social i {
    color: white;
    font-size: 35px;
}

.social i:hover {
    color: #75bd75;
}