@import url('https://fonts.googleapis.com/css?family=Quicksand:400');

/* Rainbow Animation */

body {
    font-size: 1vw;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.shapeContainer {
    display: flex;
    flex-direction: row;
}

.shape {
    display: flex;
    border-radius: 50px;
    flex: 1;
    height: 1.5vw;
    width: 20vw;
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1800% 100%;
    animation: pastelRainbow 8s ease infinite;
}

@keyframes pastelRainbow {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}


/* Containers and Classes */

.infoContainer {
    justify-items: center;
    padding: 20vh 20vw;
}

.name {
    text-align: center;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 0 auto;
}

.para {
    font-size: 1.2em;
    padding: 0 10vw;
}

.breath {
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1600% 100%;
    color: #ffb3ba;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: breath 3s linear infinite, pastelRainbow 8s ease infinite;
}

@keyframes breath {
    50% {
        text-shadow: 0 0 4px #ffdfba;
    }
}