.intro {
    background: var(--color-neutral-700-opacity);
    border-radius: 5px;
    margin: 5px;
    backdrop-filter: blur(10px);
}

h1 {
    margin: 2rem 0 0.5rem 0;
    text-align: center;
}

p {
    margin: 0 0.5rem 2rem 0.5rem;
    text-align: left;
}

@media only screen and (min-width: 900px) {
    .intro {
        margin: 0 auto;
        max-width: 700px;
        transform: translate(0, 25vh);
    }
}


/* Rainbow Animation */

.r-line {
    display: flex;
    border-radius: 50px;
    height: 5px;
    flex: 1;
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1800% 100%;
    animation: pastelRainbow 8s ease infinite;
}

.breath {
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1600% 100%;
    color: #ffb3ba;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: breath 3s linear infinite, pastelRainbow 8s ease infinite;
}

@keyframes breath {
    50% {
        text-shadow: 0 0 4px #ffdfba;
    }
}

@keyframes pastelRainbow {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}