:root {
    --color-neutral-900: #2c2c2c;
    --color-neutral-900-opacity: #2c2c2ccc;
    --color-neutral-800: #4d4d4d;
    --color-neutral-700: #7a7a7a;
    --color-neutral-700-opacity: #7a7a7a50;
    --color-accent-500: #72b972;
    --color-complementary-400: #E17163;
    --color-primary-100: #fff;
    --color-primary-100-opacity: #ffffffcc;
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Open Sans', sans-serif;
    --base-value: 5px;
    --nav-height: 45px;
}


/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1,
h2,
h3,
p {
    margin: 0;
}


/*========================================
#Table of Contents

    1. Layout
    2. Typography
    3. Containers
    4. Navigation
    5. Media Quieries
    
========================================*/


/*------------------------------
    1. Layout
------------------------------*/


/* Always show scrollbar */


/*
html {
    overflow-y: scroll;
}*/


/* Hide scrollbar for Chrome, Safari and Opera */

::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    background: url('/img/orange-blue-sky.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: var(--ff-primary);
    font-weight: 400;
    color: var(--color-primary-100);
    line-height: 1.6;
    font-size: 1.3125rem;
    z-index: -1;
}

main {
    margin-top: calc(var(--nav-height) + 10px);
}

footer {
    background: linear-gradient(to top, var(--color-neutral-900), var(--color-neutral-800));
    height: calc(var(--nav-height)*2);
    box-shadow: 0px -1px 10px 2px black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
}


/*------------------------------
    2. Typography
------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--ff-accent);
    font-weight: 600;
    line-height: 1;
}

p {
    margin-bottom: 0.6rem;
}

abbr {
    text-decoration: none;
    border-bottom: var(--color-primary-100) dashed 0.15rem;
}


/* Links */

a {
    color: var(--color-primary-100);
}

a:hover {
    color: var(--color-accent-500);
}

a:visited {
    color: var(--color-complementary-400);
}


/*------------------------------
    3. Containers
------------------------------*/

.card {
    background-color: var(--color-neutral-900-opacity);
    background: linear-gradient(0deg, var(--color-neutral-900) 0%, var(--color-neutral-900-opacity) 15%);
    padding: calc(var(--base-value)*2);
    margin-bottom: var(--base-value);
    border-radius: var(--base-value);
    /* Not supported by all browsers*/
    backdrop-filter: blur(10px);
}


/*------------------------------
    4. Navigation Bar
------------------------------*/

nav {
    user-select: none;
    font-size: 1rem;
    height: var(--nav-height);
    width: 100%;
    background: linear-gradient(to top, var(--color-neutral-900), var(--color-neutral-800));
    box-shadow: 0px 1px 10px 2px black;
    position: fixed;
    top: 0;
    z-index: 10;
    /* Safari */
    position: -webkit-fixed;
    display: flex;
    justify-content: center;
}

nav ul.navBar {
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav li.navButton {
    height: 100%;
    transition: all .25s ease-in-out;
    border-radius: var(--base-value);
}

nav li.navButton>a {
    align-items: center;
    display: flex;
    color: var(--color-primary-100);
    text-decoration: none;
    letter-spacing: 0.08rem;
    height: 100%;
    padding: 0 var(--base-value);
    width: min-content;
}

nav li.navButton:hover {
    background: var(--color-accent-500);
}

nav li.navButton.active {
    background: var(--color-accent-500);
    transition: none;
}

nav li.navButton a img.logo {
    width: 2rem;
}


/* Dropdown */

.dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    justify-content: flex-end;
}

.dropdown a {
    text-decoration: none;
    letter-spacing: 0.08rem;
    margin: 0 var(--base-value);
    color: var(--color-primary-900);
}

.dropdown-content {
    top: var(--nav-height);
    display: none;
    opacity: 100%;
    position: absolute;
    background: var(--color-primary-100-opacity);
    border-radius: var(--base-value);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 5px 5px -5px #2c2c2c;
    -webkit-box-shadow: 0px 5px 5px -5px #2c2c2c;
    border-top: solid var(--base-value) var(--color-accent-500);
    backdrop-filter: blur(10px);
    animation: dropdown .25s ease-in-out;
    min-width: 160%;
}

.dropdown-content>a {
    display: block;
    margin: 0;
    padding: calc(var(--base-value)*2) var(--base-value);
    transition: background .25s ease-in-out;
    color: var(--color-neutral-900);
}

span#dropdown-arrow {
    font-size: 0.6em;
}

.dropdown-content>a:last-of-type {
    border-bottom-left-radius: var(--base-value);
    border-bottom-right-radius: var(--base-value);
}

.show {
    display: block;
}

.active-dropdown {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: var(--color-accent-500);
}

.dropdown-content>a:hover {
    background: var(--color-accent-500);
}

@keyframes dropdown {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


/*------------------------------
    5. Media Queries
------------------------------*/


/* For Desktops */

@media only screen and (min-width: 900px) {
    /* Unzoom the Image for Mobile Quick fix TODO*/
    body:hover {
        transform: none;
    }
    .card {
        margin: 0 auto;
        margin-bottom: var(--base-value);
        max-width: 850px;
        border-radius: 5px;
        padding: calc(var(--base-value)*3);
        box-shadow: 0px 0px 5px 2px #00000050;
    }
    nav ul.navBar {
        width: 600px;
        justify-content: space-between;
    }
    .dropdown {
        justify-content: flex-start;
    }
}