/* P R O J E C T   L I S T */

.project {
    background-color: rgba(44, 44, 44, 0.5);
    margin: 0.1%;
    border-radius: 15px;
    height: 100%;
    width: auto;
    padding: 1vw;
    margin-bottom: 10px;
}

h1.projectName {
    margin: 0;
    padding: 0;
}

.projectSection {
    height: 100%;
    width: auto;
}

.infoSection {
    width: 100%;
    height: 100%;
}

.mediaSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: red;
}


/* M E D I A */

img.BUPlogo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}

.mediaSection img {
    border-radius: 3px;
    margin-right: 15px;
    max-width: 250px;
}

.mediaSection video {
    border-radius: 3px;
    margin-right: 15px;
    max-width: 250px;
}