header {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.3rem;
}

.media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.video,
.image {
    width: calc(var(--base-value)*30);
    border-radius: 3px;
    height: intrinsic;
    margin: 0 auto;
    margin-bottom: calc(var(--base-value)*2);
    transition: transform ease-in-out .2s;
    -moz-transition: transform ease-in-out .2s;
    -webkit-transition: transform ease-in-out .2s;
}

.image:hover {
    transform: scale(1.3);
    /* bring your own prefixes */
}

.landscape {
    width: calc(var(--base-value)*60);
}

.landscape {}

img.projectIcon {
    width: 2rem;
    margin-left: calc(var(--base-value)*2);
}

header {
    margin-bottom: calc(var(--base-value)*2);
}