@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
form {
    width: min-content;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0;
    width: 500px;
    outline-width: 1px;
    outline-color: var(--green-color);
}

input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    width: 100%;
    background: var(--green-color);
    color: var(--text-color);
}

select {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0;
    width: 505px;
}

*:focus {
    border: none;
    outline-width: 1px;
    outline-color: var(--green-color);
}

option {
    padding: 3px;
    border-radius: 3px;
}

label {
    font-size: 1em;
}

.radioContainer {
    display: flex;
    justify-content: left;
    padding: 3px;
    margin: 0;
    width: 500px;
}

.radioItem {
    display: inline-block;
    margin-right: 20px;
}

.required:after {
    content: " *";
    color: var(--green-color);
}

@media (orientation: landscape) {}

@media (orientation: portrait) {
    input {
        width: 300px;
    }
    select {
        width: 305px;
    }
    .radioContainer {
        width: 300px;
    }
}