header {
    margin-bottom: 0.5rem;
}

input,
select {
    font-size: 0.9rem;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0;
    width: 100%;
    max-width: 500px;
    outline-width: 1px;
    outline-color: var(--green-color);
}

input[type="submit"] {
    background: var(--color-accent-500);
    color: var(--color-primary-100);
}

input[type="radio"] {
    width: auto;
}

*:focus {
    border: none;
    outline-width: 1px;
    outline-color: var(--color-accent-500);
}

.radioItem {
    display: inline;
    margin-right: calc(var(--base-value)*4);
}

.required:after {
    content: " *";
    color: var(--color-accent-500);
}

@media only screen and (min-width: 900px) {
    .formContainer {
        margin: 0 auto;
        max-width: 500px;
    }
}