@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
form {
    width: min-content;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0;
    width: 25vw;
    outline-width: 1px;
    outline-color: var(--green-color);
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

select {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0;
    width: 25vw;
}

*:focus {
    border: none;
    outline-width: 1px;
    outline-color: var(--green-color);
}

option {
    padding: 3px;
    border-radius: 3px;
}

label {
    font-size: 1em;
}

.radioContainer {
    display: flex;
    justify-content: space-evenly;
}

.radioItem {
    display: inline-block;
}

@media (orientation: landscape) {}

@media (orientation: portrait) {
    input {
        width: 50vw;
    }
}