h1 {
    margin: 2rem 0 0.5rem 0;
    text-align: center;
}

p {
    margin: 0 0.5rem 2rem 0.5rem;
    text-align: left;
}


/*------------------------------
    1. Containers
------------------------------*/

.intro-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.intro {
    height: min-content;
    background: var(--color-neutral-700-opacity);
    border-radius: 5px;
    margin: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
}


/*------------------------------
    2. Animations
------------------------------*/


/* Circles */

.circles {
    background-color: #bae1ffe3;
    position: absolute;
    top: 25%;
    left: 40%;
}

.circles:before,
.circles:after {
    opacity: 50%;
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 20vw;
    width: 20vw;
}

.circles:before {
    background-color: #ffb3ba;
    animation: orbit1 10s linear infinite;
    -webkit-animation: orbit1 10s linear infinite;
}

.circles:after {
    background-color: #bae1ff;
    animation: orbit2 10s linear infinite;
    -webkit-animation: orbit2 10s linear infinite;
}

@keyframes orbit1 {
    0% {
        transform: rotate(0deg) translateX(12vw);
    }

    100% {
        transform: rotate(360deg) translateX(12vw);
    }
}

@keyframes orbit2 {
    0% {
        transform: rotate(0deg) translateX(-12vw);
    }

    100% {
        transform: rotate(360deg) translateX(-12vw);
    }
}

@-webkit-keyframes orbit1 {
    0% {
        transform: rotate(0deg) translateX(12vw);
    }

    100% {
        transform: rotate(360deg) translateX(12vw);
    }
}

@-webkit-keyframes orbit2 {
    0% {
        transform: rotate(0deg) translateX(-12vw);
    }

    100% {
        transform: rotate(360deg) translateX(-12vw);
    }
}


/* Rainbow */

.r-line {
    display: flex;
    border-radius: 50px;
    height: 5px;
    flex: 1;
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1800% 100%;
    animation: pastelRainbow 8s ease infinite;
}

.breath {
    background: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #e3baff, #ffbaea, #ffb3ba);
    background-size: 1600% 100%;
    color: #ffb3ba;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: breath 3s linear infinite, pastelRainbow 8s ease infinite;
}

@keyframes breath {
    50% {
        text-shadow: 0 0 4px #ffdfba;
    }
}

@keyframes pastelRainbow {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}


/*------------------------------
    5. Media Queries
------------------------------*/

@media only screen and (min-width: 900px) {
    .intro {
        margin: 0 auto;
        max-width: 700px;
        position: relative;
        top: 25vh;
    }

    .circles {
        top: 45%;
        left: 45%;
    }

    .circles:before,
    .circles:after {
        height: 10vw;
        width: 10vw;
    }
}